<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="onStart()" color="primary" expand="block">
    start
  </ion-button>
  <ion-text color="primary">
    {{ acc | json}}
  </ion-text>  
  <ion-text color="secondary">
    {{position | json }} <br/>
    {{ posError | json }}
  </ion-text>  
  <ion-button (click)="onStop()" color="primary" expand="block">
   stop
  </ion-button>
  {{err | json}}
</ion-content>
